@font-face{
    src: url(fonts/Cinzel-VariableFont_wght.ttf);
    font-family: Cinzel;
}
@font-face{
    src: url(fonts/MetalMania-Regular.ttf);
    font-family: MetalMania;
}
*{
    box-sizing: border-box;
}
body{
    background-color: black;
}
title{
    color: white;
}
h1{
    color: white;
}
h3{
    color: white;
}
h4{
    color: white;
}
h5{
    color: white;
}
p{
    color: white;
}
p::selection{
    background-color: rgb(74, 74, 238);
    color: black;
}
.phenomena{
    border: 3px solid hsl(232, 94%, 35%);
    border-radius: 5px;
    margin-top: 5px;
}
.hyperlink{
    color: deepskyblue;
    text-decoration: none;
}
.hyperlink:hover{
    color: rgb(2, 118, 212);
}
.name{
    font-family: MetalMania;
    text-shadow: 3px 3px 5px hsl(223, 67%, 67%);
}
.name::first-letter{
    font-size: 2em;
    font-style: italic;
}
.phenomena-text{
    margin: 20px;
}
#title-head{
    border: 3px solid hsl(232, 94%, 35%);
    border-radius: 5px;
}
#title-head-text{
    margin: 20px;
}
#head{
    text-shadow: 3px 3px 2px hsl(202, 85%, 56%);
}